.bottomlogo{
  margin-top: -188px;

  @include biggest-desktop{
    margin-top: -156px;
  }

  @include big-desktop{
    margin-top: -111px;
  }

  @include small-tablet{
    margin-top: -68px;
  }

  @include small-mobile{
    margin-top: -52px;
  }

  @include xs-mobile{
    margin-top: -34px;
  }

  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    padding-left: 0;
    padding-right: 0;
  }

  &__img{
    display: block;
    max-width: 1439px;
    width: 100%;
  }
}

.copyright{

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CDFD3B;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    min-height: 65px;

    @include xs-mobile{
      padding-left: 7px;
      padding-right: 7px;
    }

  }

  &__text{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000000;

    @include mobile{
      font-size: 10px;
      line-height: 10px;
    }

    @include small-mobile{
      width: 150px;
      text-align: center;
    }

    &--link{
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
      line-height: 1;

      @include mobile{
        font-size: 12px;
      }

      &::after{
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #222222;
        content: "";
        transition: width 0.3s ease-out;
      }

      &:first-child{
        margin-left: 93px;

        @include small-tablet{
        margin-left: 0;
        }
      }

      &:last-child{
        margin-right: 93px;

        @include small-tablet{
          margin-right: 0;
        }
      }

      &:hover:after,
      &:focus:after {
	      width: 100%;
      }
    }
  }
}
