.bottomlogo{
  margin-top: -188px;

  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    padding-left: 0;
    padding-right: 0;
  }

  &__img{
    display: block;
    max-width: 1439px;
    width: 100%;
  }
}

.copyright{

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CDFD3B;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }

  &__text{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000000;

    &--link{
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
      line-height: 1;

      &::after{
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #222222;
        content: "";
        transition: width 0.3s ease-out;
      }

      &:first-child{
        margin-left: 93px;
      }

      &:last-child{
        margin-right: 93px;
      }

      &:hover:after,
      &:focus:after {
	      width: 100%;
      }
    }
  }
}
