.header{

  &__container{
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    min-height: 70px;
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;

    @include small-tablet {
      justify-content: flex-end;
    }

    @include mobile {
      justify-content: flex-start;
    }


  }

  &__btn--back,
  &__btn--clone{
    width: 157px;
    height: 52px;
    background: #FB4B4D;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover{
      background: #8B83F6;
      transition: 0.3s ease-in-out;
    }

    @include tablet{
      width: 80px;
      height: 35px;
    }

  }

  &__btn--back{
    margin-right: 91px;

    @include tablet{
      margin-right: 41px;
      font-size: 12px;
    }

    @include small-tablet {
      margin-right: 0;
      margin-right: auto;
    }

    @include small-mobile {
      width: 65px;
      height: 27px;
    }
  }

  &__btn--clone{
    margin-right: 0;
    margin-left: 83px;

    @include tablet{
      margin-right: 0;
      margin-left: 41px;
      font-size: 12px;
    }

    @include small-mobile {
      width: 65px;
      height: 27px;
      margin-left: 0;
    }
  }

  &__logo-block{
    max-width: 200px;
    width: 100%;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    @include big-desktop{
      max-width: 150px;
    }

    @include small-tablet{
      max-width: 114px;
    }

    @include small-mobile {
      width: 42px;
    }
  }

  &__red-point,
  &__blue-point{
    width: 17px;
    height: 17px;

    @include mobile{
    display: none;
    }
  }

  &__logo{
    width: 61px;
    height: 70px;
  }

  &__logo-img{
    @include mobile{
      width: 38px;
      height: 45px;
      margin-top: 12px;
    }
  }
}

.nav{
  max-width: 868px;
  width: 100%;

  &__list{
    width: 100%;
    justify-content: space-between;

    @include small-tablet{
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

  }

  &__item{

    margin-right: 15px;

    &--shop{
      margin-right: 351px;

      @include tablet{
        margin-right: 251px;
      }

      @include small-tablet{
        margin-right: 15px;
      }
    }

    @include small-tablet{
      margin-bottom: 15px;
    }
  }

  &__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #222222;
    cursor: pointer;
    position: relative;
    line-height: 1;

    &::after{
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      background-color: #222222;
      content: "";
      transition: width 0.3s ease-out;
    }

    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }

  @include small-tablet{
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    height: 300px;
    padding: var(--offset);
    overflow-y: auto;
    z-index: 100;
    background-color: #ffffff;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 51px;
    border: 1px solid #222222;
  }
}

.nav.menu--active{
  visibility: visible;
  transform: none;
}






