.lava{
  &__container{
    border: 1px solid #222222;
  }
  &__title{
    max-width: 785px;
    width: 100%;
    margin: 69px auto 58px;
    font-weight: 400;
    font-size: 65px;
    line-height: 73px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color:var(--dark-color);
    text-align: center;
    position: relative;

    @include mobile{
      font-size: 37px;
      line-height: 45px;
    }

    @include small-mobile{
      font-size: 19px;
      line-height: 21px;
    }
  }

  &__line{
    margin: 0 auto;
    height: 1px;
    background-color: #222222;
    margin-left: -21px;
    margin-right: -21px;
    margin-bottom: 20px;
  }

  &__title::before{
    content: "";
    position: absolute;
    width: 225px;
    height: 156px;
    top: 0;
    left: -276px;
    background-image: url(../../img/svg/scorpion_left.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include biggest-desktop{
      width: 167px;
      height: 117px;
      left: -87px;
    }

    @include big-desktop{
      width: 100px;
      height: 70px;
      left: 53px;
      top: 83px;
    }

    @include small-tablet{
      display: none;
    }
  }

  &__title::after{
    content: "";
    position: absolute;
    width: 225px;
    height: 156px;
    top: 0;
    right: -276px;
    background-image: url(../../img/svg/scorpion_right.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include biggest-desktop{
      width: 167px;
      height: 117px;
      right: -87px;
    }

    @include big-desktop{
      width: 100px;
      height: 70px;
      right: 53px;
      top: 83px;
    }

    @include small-tablet{
      top: -64px;
    }

    @include mobile{
      width: 57px;
      height: 40px;
      right: 27px;
      top: -45px;
    }
  }

  &__card-block{
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    padding-bottom: 23px;
  }

  &__card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 436px;
	  height: 659px;
    background-image: url(../../img/svg/card_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;

    @include mobile{
      width: 361px;
      height: 545px;
    }

    @include small-mobile{
      width: 300px;
      height: 453px;
    }

    @include xs-mobile{
      height: 357px;
    }

    &--light,
    &--dark,
    &--ujjo{
      position: relative;
    }

    &--light::before{
      content: "";
      position: absolute;
      width: 57px;
      height: 57px;
      background-image: url(../../img/svg/fire_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;

      @include xs-mobile{
        width: 31px;
        height: 31px;
      }
    }

    &--dark::after{
      content: "";
      position: absolute;
      width: 57px;
      height: 57px;
      background-image: url(../../img/svg/fire_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      right: 0;

      @include mobile{
        left: 0;
      }

      @include xs-mobile{
        width: 31px;
        height: 31px;
      }
    }

    &--ujjo::before{
      content: "";
      position: absolute;
      width: 57px;
      height: 88px;
      background-image: url(../../img/svg/fire_long_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: -38px;

      @include mobile{
        left: 0;
      }

      @include xs-mobile{
        width: 37px;
        height: 58px;
        top: -12px;
      }
    }

    &--ujjo::after{
      content: "";
      position: absolute;
      width: 57px;
      height: 88px;
      background-image: url(../../img/svg/fire_long_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      right: -38px;

      @include mobile{
        display: none;
      }
    }
  }


  &__card-descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 129px;
    margin-bottom: 14px;

    @include xs-mobile{
      margin-top: 72px;
    }
  }

  &__card-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 14px;

    @include small-mobile{
      font-size: 21px;
    }

    @include xs-mobile{
      line-height: 10px;
    }

  }

  &__card-img{
    display: block;
    max-width: 390px;
    width: 100%;
    padding: 0 23px 23px 23px;

    @include mobile{
      max-width: 306px;
    }

    @include small-mobile{
      max-width: 230px;
    }

    @include xs-mobile{
      max-width: 210px;
    }
  }
}
