.story{

  &__container{
    padding-left: 0;
    padding-right: 0;
  }

  &__left{
    width: 50%;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }

  &__right{
    width: 50%;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }
}
