<header class="header">
  <div class="container flex header__container">
    <a href="#" class="header__btn--back">go back</a>
    <nav class="nav nav__left flex">
      <ul class="nav__left-list list-reset flex">
        <li class="nav__left-item">
          <a href="#" class="nav__left-link">story</a>
        </li>
        <li class="nav__left-item">
          <a href="#" class="nav__left-link">shop</a>
        </li>
      </ul>
    </nav>

    <div class="header__logo-block flex">
      <img class="header__red-point" src="../img/svg/red_point.svg" alt="red point image" >
      <a href="" class="header__logo">
        <img class="header__logo-img" src="../img/svg/logo.svg" alt="logo icon" >
      </a>
      <img class="header__blue-point" src="../img/svg/blue_point.svg" alt="blue point image" >
    </div>

    <nav class="nav nav__right flex">
      <ul class="nav__right-list list-reset flex">
        <li class="nav__right-item">
          <a href="#" class="nav__right-link">contact</a>
        </li>
        <li class="nav__right-item">
          <a href="#" class="nav__right-link">wholesale</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="header__btn--clone">clone</a>
  </div>
</header>
