<header class="header">
  <div class="container flex header__container">
    <a href="#" class="header__btn--back">go back</a>
    <nav class="nav flex" data-menu>
      <ul class="nav__list list-reset flex">
        <li class="nav__item nav__item--story">
          <a href="#" class="nav__link">story</a>
        </li>
        <li class="nav__item nav__item--shop">
          <a href="#" class="nav__link">shop</a>
        </li>
        <li class="nav__item nav__item--contact">
          <a href="#" class="nav__link">contact</a>
        </li>
        <li class="nav__item nav__item--wholesale">
          <a href="#" class="nav__link">wholesale</a>
        </li>
      </ul>
    </nav>

    <div class="header__logo-block flex">
      <img class="header__red-point" src="../img/svg/red_point.svg" alt="red point image" >
      <a href="" class="header__logo">
        <img class="header__logo-img" src="../img/svg/logo.svg" alt="logo icon" >
      </a>
      <img class="header__blue-point" src="../img/svg/blue_point.svg" alt="blue point image" >
    </div>


    <a href="#" class="header__btn--clone">clone</a>

    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
