<header class="header">
  <div class="container flex header__container">
    <a href="#" class="header__btn-go-back">go back</a>
    <nav class="nav__left">
      <ul class="nav__left-list list-reset flex">
        <li class="nav__left-item">
          <a href="#" class="nav__left-link">story</a>
        </li>
        <li class="nav__left-item">
          <a href="#" class="nav__left-link">shop</a>
        </li>
      </ul>
    </nav>
    <img src="" alt="" class="header__red-point">
    <a href="" class="header__logo">
      <img src="" alt="" class="header__logo-img">
    </a>
    <img src="" alt="" class="header__blue-point">
    <nav class="nav__right">
      <ul class="nav__right-list list-reset flex">
        <li class="nav__right-item">
          <a href="#" class="nav__right-link">contact</a>
        </li>
        <li class="nav__right-item">
          <a href="#" class="nav__right-link">wholesale</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="header__btn-clone">clone</a>
  </div>
</header>
