<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <img src="../img/svg/brand.svg" alt="image brand" class="hero__img-brand" width="698" height="425">
      <marquee class="hero__marquee" behavior="scroll" direction="left">
        <div class="hero__marquee-block">
          <p class="hero__message">put some fire in your belly</p>
          <p class="hero__message">put some fire in your belly</p>
          <p class="hero__message">put some fire in your belly</p>
          <p class="hero__message">put some fire in your belly</p>
        </div>
      </marquee>
      <img src="../img/hero_img_bottom.jpg" alt="image bottom" class="hero__img-bottom" width="657" height="436">
    </div>
    <div class="hero__right">
      <h1 class="hero__title">the first hot sauce made for cofee</h1>
      <img src="../img/hero_bottle.jpg" alt="image buttle" class="hero__img-buttle" width="656" height="705">
    </div>
  </div>
</section>
