<section class="lava">
  <div class="container lava__container">
      <h2 class="lava__title">throw some lava in your java</h2>
      <div class="lava__line"></div>
    <div class="lava__card-block flex">
      <div class="lava__card-item">
        <p class="lava__card-descr">tangy and tingly</p>
        <h3 class="lava__card-title">light roast blend</h3>
        <img src="../img/lava_light-roast.png" alt="blend image" class="lava__card-img">
      </div>
      <div class="lava__card-item">
        <p class="lava__card-descr">light & dark roast</p>
        <h3 class="lava__card-title">ujjo sampler pack</h3>
        <img src="../img/lava_ujjo-sampler.png" alt="blend image" class="lava__card-img">
      </div>
      <div class="lava__card-item">
        <p class="lava__card-descr">tangy and tingly</p>
        <h3 class="lava__card-title">dark roast blend</h3>
        <img src="../img/lava_dark-roast.png" alt="blend image" class="lava__card-img">
      </div>
    </div>
  </div>
</section>
