<section class="marquee">
  <div class="container marquee__container">
    <marquee class="marquee__marquee-block" behavior="scroll" direction="left">
      <div class="marquee__marquee-inner">
        <p class="marquee__message">put some fire in your belly</p>
        <p class="marquee__message">put some fire in your belly</p>
        <p class="marquee__message">put some fire in your belly</p>
        <p class="marquee__message">put some fire in your belly</p>
      </div>
    </marquee>
  </div>
</section>
